.Buttons {
  display: none;
}

.TodoLine:hover .Buttons {
  display: flex;
}

.Logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  padding: 10px;
}

.Logo:hover .LogoIcon {
  display: flex;
  transform: rotate(20deg);
}
